<ion-content class="cp-content">
  <div class="starting-image">
    <img class="logo-laposte" src="assets/images/logo-laposte.png">
  </div>
  <ion-card>
    <ion-card-content class="card-content">
      <div class="register-title">
        <h1>Prise d'un rendez-vous</h1>
      </div>
      <form style="margin-top: 15px;">
       <ion-item>
         <ion-datetime minuteValues="0,15,30,45" dayValues="5,10,15,20,25,30"
                       showDefaultButtons="true"></ion-datetime>
       </ion-item>
        <ion-item>
          <ion-select label-placement="floating" placeholder="Moyen de Contact">
            <ion-select-option value="apple">Par Téléphone</ion-select-option>
            <ion-select-option value="banana">Sur place</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Entrer votre pseudo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label-placement="floating" placeholder="Gouvernorat de Bureau de contact">
            <ion-select-option *ngFor="let g of gouvernorat;" [value]="g">{{g}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label-placement="floating" placeholder="Bureau de poste de contact">
            <ion-select-option value="apple">Par Téléphone</ion-select-option>
            <ion-select-option value="banana">Sur place</ion-select-option>
          </ion-select>
        </ion-item>
      </form>

      <ion-button type="submit" class="cp-btn"  id="open-modal">
        Terminer
      </ion-button>
      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-card>
              <ion-card-content>
                <svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                  <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <path class="circle" d="M13 1C6.372583 1 1 6.372583 1 13s5.372583 12 12 12 12-5.372583 12-12S19.627417 1 13 1z"/>
                    <path class="tick" d="M6.5 13.5L10 17 l8.808621-8.308621"/>
                  </g>
                </svg>
                Votre demande a bien été envoyée en succées vous vous recevez un appel téléphonique de chez La poste
                ultérieurement.
              </ion-card-content>
              <ion-button href="menu/consulterComptes">Acceuil</ion-button>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-card-content>
  </ion-card>
</ion-content>

