<ion-app>
  <ion-menu contentId="main-content">
    <ion-header  class="ion-toolbar-menu">
      <ion-toolbar >
        <ion-title>MyPosteBank</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-title class="submenu-title">COMPTES & STATICTIQUES</ion-title>
    </ion-content>

   <ion-item>

   </ion-item>
  </ion-menu>
  <div class="ion-page" id="main-content">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
  </div>
</ion-app>
